.not-found-container {
  background-color: #000000;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 28px;
  text-align: center;
}
.not-found-des {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
}
